
html
{
    overflow-y: hidden;
    overflow-x: hidden;
}
.header
{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    
}
.home
{
    background-image: url("https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg?size=626&ext=jpg&ga=GA1.1.1224184972.1713225600&semt=ais");
    height:600px;
    background-size: cover;
    background-repeat: no-repeat;
}
.about
{
    background-image: url("https://www.shutterstock.com/image-photo/old-paper-texture-600nw-758024551.jpg");
    height:600px;
    background-size: cover;
    background-repeat: no-repeat;  
}
.p1
{
    height: 610px;
    width: 1520px;
    position: relative;
    top: 20px;
    background-color:rgb(153, 86, 86);
}
.fd1
{
    height: 300px;
    width: 380px;
    background-color: rgb(252, 249, 249);
    border-radius: 5%;
    position: relative;
    top: -565px;
    left: 85px;
}
.img1
{
    height: 280px;
    width: 358px;
    padding: 10px 10px 10px 10px;
    border-radius: 7%;

}
.fd2
{
    height: 300px;
    width: 380px;
    background-color: rgb(249, 248, 248);
    border-radius: 5%;
    position: relative;
    top: -865px;
    left: 570px;
}
.img2
{
    height: 280px;
    width: 358px;
    padding: 10px 10px 10px 10px;
    border-radius: 7%;

}
.fd3
{
    height: 300px;
    width: 380px;
    background-color: rgb(252, 251, 251);
    border-radius: 5%;
    position: relative;
    top: -1163px;
    left: 1055px;
}
.img3
{
    height: 280px;
    width: 358px;
    padding: 10px 10px 10px 10px;
    border-radius: 7%;
   
}
.div
{
    border:15px solid rgba(113, 21, 67, 0.712);
    height:400px;
    width:250px;
    position: relative;
    top: -600px;
    left: 1060px;
}

.myimg
{
    height:400px;
    width:250px;  
}
